{% extends 'blog/basic.html' %}

{% block body %}
<style>
    .centre {
     min-height: 650px;
    }

     .content-desktop {display: block;}
    .content-mobile {display: none;}
    .content-tab {display: none;}

    @media screen and (max-width: 1000px) {

    .content-desktop {display: none;}
    .content-mobile {display: none;}
    .content-tab {display: block;}

    }
     @media screen and (max-width: 500px) {

    .content-desktop {display: none;}
    .content-mobile {display: block;}
    .content-tab {display: none;}

    }

</style>
<div class="container centre content-desktop">
    <div class="row my-2">
{% for item in myposts %}

        <div class="col-md-6">
            <div
                class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative" style="height:220px">
                <div class="col p-3 d-flex flex-column position-static">
                    <strong class="d-inline-block mb-2 text-primary">{{item.category}} <span class="badge badge-secondary">{{item.pub_date}}</span></strong>
                    <div style="height:120px"><h5 class="mb-0"><b>{{item.title}}</b></h5></div>
                    <a href="/{{item.slug}}" class="btn btn-primary">Continue reading</a>
                </div>
                <div class="col-auto  d-lg-block">
                    <img src="/media/{{item.thumbnail}}" class="bd-placeholder-img" width="200" height="250
                    aria-label="Placeholder: Thumbnail"/>
                    <title>Placeholder</title>

                </div>
            </div>
        </div>

 {% if forloop.counter|divisibleby:2 %}
    </div>
    <div class="row my-2">
 {% endif %}
 {% endfor %}
</div>
</div>

<div class="container centre content-mobile">
    <div class="row my-2">
{% for item in myposts %}

        <div class="col-md-12">
            <div
                class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative" style="height:220px">
                <div class="col p-3 d-flex flex-column position-static">
                    <strong class="d-inline-block mb-2 text-primary">{{item.category}} <span class="badge badge-secondary">{{item.pub_date}}</span></strong>
                    <div style="height:120px"><h5 class="mb-0"><b>{{item.title}}</b></h5></div>
                    <a href="/{{item.slug}}" class="btn btn-primary">Continue reading</a>
                </div>
                <div class="col-auto d-none d-lg-block">
                    <img src="/media/{{item.thumbnail}}" class="bd-placeholder-img" width="200" height="250
                    aria-label="Placeholder: Thumbnail"/>
                    <title>Placeholder</title>

                </div>
            </div>
        </div>

 {% if forloop.counter|divisibleby:1 %}
    </div>
    <div class="row my-2">
 {% endif %}
 {% endfor %}
</div>
</div>

<div class="container centre content-tab">
    <div class="row my-2">
{% for item in myposts %}

        <div class="col-md-12">
            <div
                class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative" style="height:220px">
                <div class="col p-3 d-flex flex-column position-static">
                    <strong class="d-inline-block mb-2 text-primary">{{item.category}} <span class="badge badge-secondary">{{item.pub_date}}</span></strong>
                    <div style="height:120px"><h5 class="mb-0"><b>{{item.title}}</b></h5></div>
                    <a href="/{{item.slug}}" class="btn btn-primary">Continue reading</a>
                </div>
                <div class="col-auto  d-lg-block">
                    <img src="/media/{{item.thumbnail}}" class="bd-placeholder-img" width="200" height="250
                    aria-label="Placeholder: Thumbnail"/>
                    <title>Placeholder</title>

                </div>
            </div>
        </div>

 {% if forloop.counter|divisibleby:1 %}
    </div>
    <div class="row my-2">
 {% endif %}
 {% endfor %}
</div>
</div>

{% endblock body %}
